* {
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-color: #171717;
}

.wrapper {
    width: 1460px;
    margin: 0 auto;
}


/*===================================Heating Network Start========================*/
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-top: 46px;
}

.header-nav{
    display: flex;
}
.company-phone {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-right: 39px;
}
.company-phone span{
    display: contents;
    color: #E4B564;
}

.callback-btn{
    display: block;
    color: #E4B564;
    font-size: 18px;
    line-height: 30px;
    padding: 10px 45px;
    border: 1px solid #E4B564;
    background-image: url("/img/phone_icon.png");
    background-repeat: no-repeat;
    background-position: 10%;
}
.callback-btn:hover {
    background-color: #E4B564;
    color: #ffffff;
}
.heating-networks-container{
    margin-top: 120px;
}
.title-header {
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
}
/*===================================Header End========================*/

/*===================================Heating Network Section Start========================*/
.heating-networks-container p{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 41px;
    margin-bottom: 41px;
    line-height: 28px;
}

.networks-grid {
    display: grid;
    grid-template-areas:
    'card1 card1 card2 card2 card3 card3'
    'card4 card4 card4 card5 card5 card5';
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6,1fr);
    height: 970px;
    grid-gap:27px;

}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 28px;
}
.networks-grid a{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.card1{
    grid-area: card1;
    background-color: #634F2C;
}

.card2{
    grid-area: card2;
    background-color: #B4A385;
}
.card3{
    grid-area: card3;
    background-color: #E4B564;
}
.card4{
    grid-area: card4;
    background-color: #635A4A;
}
.card5{
    grid-area: card5;
    background-color: #B08C4D;
}
/*===================================Heating Network Section End========================*/
.fixed-image-header {
    margin-top: 50px;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-image: url("/img/header-bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*===================================Techinc Section Start========================*/
.technic-wrapper{
    margin-top: 161px;

}
.some-wrapper{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    margin-top: 94px;
}

.machinery-item {
    display: flex;
    color: #fff;
    padding-left: 52px;
    padding-top: 45px;
    font-size: 20px;
}
.machinery-item span{
    display: contents;
    font-weight: bold;
}
.machinery-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(33% - 30px);
}
.machinery-item-1{
    background-color: #0E0E0E;
    height: 313px;
}
.machinery-item-2{
    background-color: #1F1F1F;
    height: 560px;
    margin-top: 24px;
}
.machinery-item-3{
    background-color: #242424;
    height: 439px;
}
.machinery-item-4{
    background-color: #E4B564;
    height: 405px;
    margin-top: 35px;
    color: #000000;
}
.machinery-item-5 {
    background-color: #1F1F1F;
    height: 255px;
}
.machinery-item-6 {
    background-color: #0E0E0E;
    height: 313px;
    margin-top: 26px;
}
.machinery-item-7 {
    background-color: #0A0909;
    height: 277px;
    margin-top: 26px;
}
    /*===================================Techinc Section End========================*/
.fixed-image-machinery {
    margin-top: 50px;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-image: url("/img/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*===================================Portfolio Section Start========================*/
.portfolio-wrapper{
    background-color: #0E0E0E;
    margin-top: 191px;
    padding: 172px 293px;
}
.portfolio-grid {
    display: grid;
    grid-template-areas:
    'item1 item2 item3'
    'item4 item5 item6';
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3,1fr);
    height: 786px;
    margin-top: 72px;
}
.portfolio-grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item1 {
    grid-area: item1;
    background-color: #634F2C;
    background-image: url("/img/portfolio_image_1.png");
    background-position: center;
    background-repeat: no-repeat;
}

.item2 {
    grid-area: item2;
    background-color: #E8D2AB;
    background-image: url("/img/portfolio_image_2.png");
    background-position: center;
    background-repeat: no-repeat;
}
.item3 {
    grid-area: item3;
    background-color: #E4B564;
    background-image: url("/img/portfolio_image_3.png");
    background-position: center;
    background-repeat: no-repeat;
}
.item4 {
    grid-area: item4;
    background-color: #635A4A;
    background-image: url("/img/portfolio_image_4.png");
    background-position: center;
    background-repeat: no-repeat;
}
.item5 {
    grid-area: item5;
    background-color: #B08C4D;
    background-image: url("/img/portfolio_image_5.png");
    background-position: center;
    background-repeat: no-repeat;
}
.item6 {
    grid-area: item6;
    background-color: #634F2C;
    background-image: url("/img/portfolio_image_1.png");
    background-position: center;
    background-repeat: no-repeat;
}
.hover-text{
    display: none;
    position: relative;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    margin: 0 80px;
}
.portfolio-grid-item:hover{
    background-position: 50% 15%;
}
.portfolio-grid-item:hover .hover-text{
    display: block;
    top:30px;
    color: #ffffff;
}
/*===================================Portfolio Section End========================*/